{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Archor Sites</h6>
            <a href="">Show All</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        
                        <th scope="col">Site</th>
                        <th scope="col">Engineer</th>
                        <th scope="col">Action</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for i in archor %}
                    <tr>
                        <td>{{i.site_id}}</td>
                        <td>{{i.engineer}}</td>
                        
                        <td><a class="btn btn-sm btn-primary" href="">Fuel</a></td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </div>
</div>



{% endblock content %}